.barra{
    padding-left: 10px;
    color: purple;
}
.tarjeta{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.fondo{
    background-color: #EBDDF1;
}
.tabla{
    margin-top: 10%;
    margin-left: 10%;
    
}