{% extends 'registro/base.html' %}

{% block content %}
<div class="container tabla">
    <div class="card tabla align-items-center">
        <div class="card-header">
            Asignaciones
        </div>
        <div class="card-body">
            <h2 class="card-title">Nueva Asignación</h2>
            <div class="card-text"></div>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}