{% extends 'registro/base.html' %}
{% block content %}
<div class="container tabla">
    <table class="table table-dark tabla">
      <thead>
        <tr>
          <th scope="col">Carnet</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Nombres</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for docente in docentes %}
      <tr>
        <th scope="row">{{docente.noCarnet}}</th>
        <td>{{docente.apellidos}}</td>
        <td>{{docente.nombres}}</td>
        {% if user.is_authenticated %}
        <td><a href="{% url 'docente_edit' pk=docente.pk %}" class="btn btn-outline-warning" role="button" aria-disabled="true"><i class="material-icons">create</i></a></td>
        <td><a href="{% url 'docente_delete' pk=docente.pk %}" class="btn btn-outline-danger" role="button" aria-disabled="true"><i class="material-icons">delete</i></a></td>
        {%endif%}
      </tr>
      {% endfor %}
    {%endblock %}
      </tbody>
    </table>
</div>