{% extends 'registro/base.html' %}
{% block content %}
    <h2><a href="estudiantes">Estudiantes</a></h2>
    <h2><a href="estudiante/new">Nuevo Estudiante</a></h2>
    <h2> <a href="docentes">Docentes</a></h2>   
        <h2><a href="docente/new">Nuevo Docente</a></h2>
            <h2><a href="cursos">Cursos</a></h2>
                <h2><a href="curso/new">Nuevo Curso</a></h2>
                    <h2><a href="asignaciones">Asignaciones</a></h2>
                        <h2><a href="asignacion/new">Nueva Asignacion</a></h2>
{%endblock %}