{% extends "registro/base.html" %}

{% block content %}
<div class="row tabla align-items-center">
    <h2>Proyecto Final Programación Comercial</h2>
    <h4>Desarrollado en Django, con Frontend con Bootstrap</h4>
    <p></p>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Susan Evingle Vásquez Elías</h5>
                <p class="card-text">Estudiante de Ingeniería que es muy amigable y disfruta de la buena música bailando.</p>
                <h6>201608807</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Guillermo Alfredo Galindo Girón</h5>
            <p class="card-text">Estudiante de Ingeniería que no es tan amigable pero disfruta mucho una pizza y una Coca Cola, ahh y el Rock.</p>
            <h6>201508017</h6>
        </div>
    </div>
    </div>
</div>
{% endblock %}