{% extends "registro/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Nombre de Usuario o contraseña no Válidos</p>
    {% endif %}
    <div class="container tabla align-items-center">
    <div class="card tabla align-items-center">
        <div class="card-header">
            Bienvenido al Sistema
        </div>
        <div class="card-body">
            <h5 class="card-title">Ingresa con tu Usuario y Contraseña</h5>
            <div class="card-text">
                
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                    <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    </table>
            
                    <input type="submit" class="btn btn-primary" value="Iniciar Sesión" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
    </div>
    
{% endblock %}

